{% extends 'home/public/base.html' %}
{% block title %}
<title>订单确认</title>
{% endblock %}

{% block link %}
<link href="/static/home/AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css" />

<link href="/static/home/basic/css/demo.css" rel="stylesheet" type="text/css" />
<link href="/static/home/css/cartstyle.css" rel="stylesheet" type="text/css" />

<link href="/static/home/css/jsstyle.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="/static/home/js/address.js"></script>
{% endblock %}

{% block con %}

<div class="clear"></div>

<div class="concent">
    <!--地址 -->
    <div class="paycont">
        <div class="address">
            <h3>确认收货地址 </h3>
            <div class="control">
                <div class="tc-btn createAddr theme-login am-btn am-btn-danger">添加新地址</div>
            </div>
            <div class="clear"></div>
            <ul>

                <div class="per-border"></div>
                {% for i in uaddress %}
                <li aid="{{ i.id }}" style="margin-top: 5px" {% if i.status == 1 %} class="user-addresslist defaultAddr" {% endif %} class="user-addresslist" >
                    <div class="address-left">
                        <div class="user ">
                            <span class="buy-address-detail">   
                                <span class="">姓名： </span>
                                <span class="buy-user">{{ i.aname }} </span>
                            </span>
                        </div>
                        <div class="user ">
                            <span class="buy-address-detail">   
                                <span class="">手机： </span>
                                <span class="buy-phone">{{ i.aphone }} </span>
                            </span>
                        </div>
                        <div class="default-address">
                            <span class="buy-line-title buy-line-title-type">收货地址：</span>
                            <span class="buy--address-detail">
                                <span class="street">{{ i.aaddress }} </span>
                            </span>
                        </div>
                        {% if i.status == 1 %}
                        <ins class="deftip">默认地址</ins>
                        {% endif %}
                    </div>
                    <div class="address-right">
                        <a href="/static/home/person/address.html">
                            <span class="am-icon-angle-right am-icon-lg"></span></a>
                    </div>
                    <div class="clear"></div>

                    <div class="new-addr-btn">
                        <a href="#" class="hidden">设为默认</a>
                        <span class="new-addr-bar hidden">|</span>
                        <!-- <a href="#">编辑</a> -->
                        <!-- <span class="new-addr-bar">|</span> -->
                        <!-- <a href="javascript:void(0);" onclick="delClick(this);">删除</a> -->
                    </div>
                </li>
                {% endfor %}
            </ul>

            <div class="clear"></div>
        </div>

        <!--订单 -->
        <div class="concent">
            <div id="payTable">
                <h3>确认订单信息</h3>
                <div class="cart-table-th">
                    <div class="wp">

                        <div class="th th-item">
                            <div class="td-inner">商品信息</div>
                        </div>
                        <div class="th th-price">
                            <div class="td-inner">单价</div>
                        </div>
                        <div class="th th-amount">
                            <div class="td-inner">数量</div>
                        </div>
                        <div class="th th-sum">
                            <div class="td-inner">金额</div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                {% for i in request.session.uorder.values %}
                <tr class="item-list">
                    <div class="bundle  bundle-last">
                        <div class="bundle-main">
                            <ul class="item-content clearfix">
                                <div class="pay-phone">
                                    <li class="td td-item">
                                        <div class="item-pic">
                                            <a href="{% url 'info' i.id %}" class="J_MakePoint">
                                                <img style="width: 78px" src="{{ i.pic }}" class="itempic J_ItemImg">
                                            </a>
                                        </div>
                                        <div class="item-info">
                                            <div class="item-basic-info">
                                                <a href="{% url 'info' i.id %}" class="item-title J_MakePoint" data-point="tbcart.8.11">
                                                    {{ i.title }}
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="td td-price">
                                        <div class="item-price price-promo-promo">
                                            <div class="price-content">
                                                <em class="J_Price price-now">{{ i.price }}</em>
                                            </div>
                                        </div>
                                    </li>
                                </div>
                                <li class="td td-amount">
                                    <div class="amount-wrapper ">
                                        <div class="item-amount ">
                                            <span class="phone-title">购买数量</span>
                                            <div class="sl">
                                                <input class="text_box" name="" type="text" value="{{ i.num }}" style="width:30px;" disabled/>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="td td-sum">
                                    <div class="td-inner">
                                        {% load pagetag %}
                                        <em tabindex="0" class="J_ItemSum number">{% multiplication i.price i.num %}</em>
                                    </div>
                                </li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                    </div>
                </tr>
                {% endfor %}
                <div class="clear"></div>
                </div>
                <div class="clear"></div>
                <div class="pay-total">

                    <!--含运费小计 -->
                    <div class="buy-point-discharge ">
                        <p class="price g_price ">
                            合计（含运费） <span>¥</span>
                            <em class="pay-sum" style="font-size: 30px">244.00</em>
                        </p>
                    </div>

                    <!--信息 -->
                    <div class="order-go clearfix">
                        <div class="pay-confirm clearfix">
                            <div id="holyshit269" class="submitOrder">
                                <div class="go-btn-wrap">
                                    <a id="J_Go" href="{% url 'ordercreate' %}" class="btn-go" tabindex="0" title="点击此按钮，提交订单">提交订单</a>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clear"></div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-hd">
            <p>
                <a href="#">恒望科技</a>
                <b>|</b>
                <a href="#">商城首页</a>
                <b>|</b>
                <a href="#">支付宝</a>
                <b>|</b>
                <a href="#">物流</a>
            </p>
        </div>
        <div class="footer-bd">
            <p>
                <a href="#">关于恒望</a>
                <a href="#">合作伙伴</a>
                <a href="#">联系我们</a>
                <a href="#">网站地图</a>
                <em>© 2015-2025 Hengwang.com 版权所有</em>
            </p>
        </div>
    </div>
</div>

<div class="theme-popover-mask"></div>

<div class="theme-popover">
    <!--标题 -->
    <div class="am-cf am-padding">
        <div class="am-fl am-cf">
            <strong class="am-text-danger am-text-lg">新增地址</strong> / <small>Add address</small>
        </div>
    </div>
    <hr/>
    <div class="am-u-md-12">
        <form class="am-form am-form-horizontal" method="post"  data-am-validator>
            {% csrf_token %}
            <div class="am-form-group">
                <label for="user-name" class="am-form-label">收货人</label>
                <div class="am-form-content">
                    <input name="aname" type="text" id="user-name" placeholder="收货人" required>
                </div>
            </div>

            <div class="am-form-group">
                <label for="user-phone" class="am-form-label">手机号码</label>
                <div class="am-form-content">
                    <input name="aphone" id="user-phone" placeholder="手机号" type="text" required>
                </div>
            </div>

            <div class="am-form-group">
                <label for="user-address" class="am-form-label">收货地址</label>
                <div class="am-form-content">
                    <input name="aaddress" id="user-address" placeholder="收货地址" type="text" required>
                </div>
            </div>

            <div class="am-form-group">
                <!-- <label for="user-phone" class="am-form-label">是否设为默认地址</label> -->
                <div class="am-form-content">
                    <input type="checkbox" name="status" value="1" />&nbsp;是否设为默认地址
                </div>
            </div>

            <div class="am-form-group theme-poptit">
                <div class="am-u-sm-9 am-u-sm-push-3">
                    <button class="am-btn am-btn-danger">保存</button>
                    <div class="am-btn am-btn-danger close">取消</div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="clear"></div>

<script>
    // 显示总价
    var sumnum = 0
    $('.J_ItemSum').each(function(){
        sumnum += parseFloat($(this).text())
    })
    $('.pay-sum').text(sumnum)
    
    // 提交订单按钮
    $('#J_Go').click(function(event) {
        var aid = $('ul .defaultAddr').attr('aid')
        /* Act on the event */
        if(aid){
            var myhref = $(this).attr('href')
            $(this).attr('href', myhref+'?aid='+aid)
        }else{
            alert('请选择收货地址')
            return false
        }
    });
</script>

{% endblock %}