<!DOCTYPE html>
<html>

    <head lang="en">
        <meta charset="UTF-8">
        <title>注册</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        <meta name="renderer" content="webkit">
        <meta http-equiv="Cache-Control" content="no-siteapp" />

        <link rel="stylesheet" href="/static/home/AmazeUI-2.4.2/assets/css/amazeui.min.css" />
        <link href="/static/home/css/dlstyle.css" rel="stylesheet" type="text/css">
        <script src="/static/home/AmazeUI-2.4.2/assets/js/jquery.min.js"></script>
        <script src="/static/home/AmazeUI-2.4.2/assets/js/amazeui.min.js"></script>
        <!-- <script src="/static/myjs/jquery.min.js"></script> -->

    </head>

    <body>

        <div class="login-boxtitle">
            <a href="home/demo.html"><img alt="" src="/static/home/images/logobig.png" /></a>
        </div>

        <div class="res-banner">
            <div class="res-main">
                <div class="login-banner-bg"><span></span><img src="/static/home/images/big.jpg" /></div>
                <div class="login-box">

                        <div class="am-tabs" id="doc-my-tabs">
                            <ul class="am-tabs-nav am-nav am-nav-tabs am-nav-justify">
                                <li class="am-active"><a href="">邮箱注册</a></li>
                                <li><a href="">手机号注册</a></li>
                            </ul>

                            <div class="am-tabs-bd">
                                <div class="am-tab-panel am-active">

                                    <form method="post" data-am-validator>
                                        {% csrf_token %}
                                        <input type="hidden" name="retype" value="1">
                                        <div class="user-email">
                                            <label for="email"><i class="am-icon-envelope-o"></i></label>
                                            <input type="email" name="email" id="email" placeholder="请输入邮箱账号" required />
                                        </div>                                                                         
                                        <div class="verification">
                                            <label for="code"><i class="am-icon-code-fork"></i></label>
                                            <input style="width: 175px;" type="tel" name="vcode" placeholder="请输入验证码" required />
                                            <img style="position: absolute; top:10px; right: 10px" onclick="this.src='{% url 'adminvcode' %}?'+Math.random()" src="{% url 'adminvcode' %}" alt="验证码" >
                                        </div>                                     
                                        <div class="user-pass">
                                            <label for="password"><i class="am-icon-lock"></i></label>
                                            <input type="password" name="password" id="password1" placeholder="设置密码" required />
                                        </div>                                     
                                        <div class="user-pass">
                                            <label for="passwordRepeat"><i class="am-icon-lock"></i></label>
                                            <input data-equal-to="#password1" type="password" name="password2" placeholder="确认密码" required />
                                        </div> 
                                    <!-- </form> -->
                 
                                        <div class="login-links">
                                            <input style="height: 16px;width: 16px; display: inline-block;" name="check" value="1" id="reader-me1" type="checkbox" required />
                                            <span style="position: absolute;top:235px;left:30px">同意商城《服务协议》</span>
                                        </div>
                                        <div class="am-cf">
                                            <input type="submit" name="" value="注册" class="am-btn am-btn-primary am-btn-sm am-fl">
                                        </div>
                                    </form>
                                    <hr>
                                </div>

                                <div class="am-tab-panel">
                                    <form method="post" data-am-validator>
                                        {% csrf_token %}
                                        <input type="hidden" name="retype" value="2">
                                        <div class="user-phone">
                                            <label for="phone"><i class="am-icon-mobile-phone am-icon-md"></i></label>
                                            <input maxlength="11" minlength="11" type="tel" name="phone" id="phone" placeholder="请输入手机号" required />
                                        </div>                                                                         
                                        <div class="verification">
                                            <label for="code"><i class="am-icon-code-fork"></i></label>
                                            <input style="width: 175px;" type="tel" name="vcode" placeholder="请输入验证码" required />
                                            <img style="position: absolute; top:10px; right: 10px" onclick="this.src='{% url 'adminvcode' %}?'+Math.random()" src="{% url 'adminvcode' %}" alt="验证码">
                                        </div>
                                        <div class="user-pass">
                                            <label for="password"><i class="am-icon-lock"></i></label>
                                            <input id="password2" type="password" name="password" placeholder="设置密码" required />
                                        </div>                                     
                                        <div class="user-pass">
                                            <label for="passwordRepeat"><i class="am-icon-lock"></i></label>
                                            <input data-equal-to="#password2" type="password" name="password2" placeholder="确认密码" required />
                                        </div> 
                                        <div class="login-links">
                                            <input style="height: 16px;width: 16px; display: inline-block;" name="check" value="1" id="reader-me2" type="checkbox" required />
                                            <span style="position: absolute;top:235px;left:30px">同意商城《服务协议》</span>
                                        </div>
                                        <div class="am-cf">
                                            <input type="submit" name="" value="注册" class="am-btn am-btn-primary am-btn-sm am-fl">
                                        </div>
                                    </form>
                            
                                    <hr>
                                </div>

                                <script>
                                    $(function() {
                                        $('#doc-my-tabs').tabs();
                                      })
                                </script>

                            </div>
                        </div>

                </div>
            </div>
            
                <div class="footer ">
                    <div class="footer-hd ">
                        <p>
                            <a href="# ">恒望科技</a>
                            <b>|</b>
                            <a href="# ">商城首页</a>
                            <b>|</b>
                            <a href="# ">支付宝</a>
                            <b>|</b>
                            <a href="# ">物流</a>
                        </p>
                    </div>
                    <div class="footer-bd ">
                        <p>
                            <a href="# ">关于恒望</a>
                            <a href="# ">合作伙伴</a>
                            <a href="# ">联系我们</a>
                            <a href="# ">网站地图</a>
                            <em>© 2015-2025 Hengwang.com 版权所有</em>
                        </p>
                    </div>
                </div>
    </body>

<script>
// 表单验证使用
  $(function() {
  $('#doc-vld-msg').validator({
    onValid: function(validity) {
      $(validity.field).closest('.am-form-group').find('.am-alert').hide();
    },

    onInValid: function(validity) {
      var $field = $(validity.field);
      var $group = $field.closest('.am-form-group');
      var $alert = $group.find('.am-alert');
      // 使用自定义的提示信息 或 插件内置的提示信息
      var msg = $field.data('请输入正确的信息 ^_^') || this.getValidationMessage(validity);

      if (!$alert.length) {
        $alert = $('<div class="am-alert am-alert-danger"></div>').hide().appendTo($group);
      }

      $alert.html(msg).show();
    }
  });
});
</script>

</html>