{% extends 'admin/public/base.html' %}

{% block tit %}
<title>商品添加</title>
{% endblock %}

{% block con %}

<div class="admin-biaogelist">
    
    <div class="listbiaoti am-cf">
      <ul class="am-icon-flag on"> 商品管理</ul>
      
      <dl class="am-icon-home" style="float: right;"> 当前位置： 商品管理 &gt; <a href="#">商品添加</a></dl>
    </div>
    
    <div class="fbneirong">
      <form data-am-validator class="am-form" action="{% url 'admin_goods_update' %}" method="post" enctype="multipart/form-data" id="doc-vld-msg form-with-tooltip">
      <fieldset>
        <input type="hidden" name="id" value="{{ ginfo.id }}">
        <div class="am-form-group am-cf">
          <div class="zuo">所属分类：</div>
          <div class="you">
            <select name="tid" style="font-size: 14px; width: 200px">
              {% for i in ob %}
                {% if i.lv != 3 %}
                <option value="{{ i.id }}" disabled>{{ i.typename }}</option>
                {% else %}
                  {% if i.id == ginfo.typeid.id %}
                  <option value="{{ i.id }}" selected>{{ i.typename }}</option>
                  {% else %}
                  <option value="{{ i.id }}">{{ i.typename }}</option>
                  {% endif %}
                {% endif %}
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="am-form-group am-cf">
          <div class="zuo">商品名称：</div>
          <div class="you">
            <input value="{{ ginfo.title }}" minlength="1" name="title" type="text" class="am-input-sm" id="doc-ipt-name-1" placeholder="请输入商品名称" required/>
          </div>
        </div>

        <div class="am-form-group am-cf">
          <div class="zuo">价格：</div>
          <div class="you">
            <input value="{{ ginfo.price }}" name="price" type="text" class="am-input-sm" id="doc-ipt-age-1" placeholder="商品价格" min="0" max="99999999.99" required />
          </div>
        </div>

        <div class="am-form-group am-cf">
          <div class="zuo">库存：</div>
          <div class="you">
            <input value="{{ ginfo.storage }}" name="storage" type="text" class="am-input-sm" id="doc-ipt-age-1" placeholder="商品库存" min="0" max="99999999" required />
          </div>
        </div>
        
        <div class="am-form-group am-cf">
          <div class="zuo">商品图片：</div>
          <div class="you" style="height: 45px;">
            <input id="file_upload" name="picurl" type="file" id="doc-ipt-file-1">
            <p class="am-form-help">请选择商品图片... </p>
          </div>
        </div>

        <div class="am-form-group am-cf">
          <div class="zuo"></div>
          <div class="you">
            <img id="preview" style="height: 100px; border: 1px solid gray" src="{{ ginfo.picurl }}" alt="^_^"/>
          </div>
        </div>

        <div class="am-form-group am-cf">
          <div class="zuo">商品描述：</div>
          <div class="you">
            <link rel="stylesheet" type="text/css" href="/ueditor/UE/third-party/SyntaxHighlighter/shCoreDefault.css">
            <script type="text/javascript" src="/ueditor/UE/third-party/SyntaxHighlighter/shCore.js"></script>
            <script type="text/javascript" src="/ueditor/UE/ueditor.config.js"></script>
            <script type="text/javascript" src="/ueditor/UE/ueditor.all.min.js"></script>
            <script type="text/javascript" src="/ueditor/UE/lang/zh-cn/zh-cn.js"></script>

            <script id="editor" name="info" type="text/plain" style="height:500px;color:gray;"><html>{{ ginfo.info|safe }}</html></script>
            
            <script type="text/javascript">
               var ue = UE.getEditor('editor');
               SyntaxHighlighter.all();
            </script>
          </div>
        </div>

        <div class="am-form-group am-cf">
        {% csrf_token %}
          <div class="you" style="margin-left: 11%;">
              <button onclick="doUpload(); type="submit" class="am-btn am-btn-secondary am-radius" type="submit">提交</button>

          </div>
        </div>
      </fieldset>
      </form>

    </div>

  
 
     <div class="foods">
      <ul>
        版权所有@2018
      </ul>
      <dl>
        <a href="" title="返回头部" class="am-icon-btn am-icon-arrow-up"></a>
      </dl>
    </div>

</div>

<script>
  $('#file_upload').change(function(event) {
    /* Act on the event */
    var $file = $(this);
    var fileObj = $file[0];
    var windowURL = window.URL || window.webkitURL;
    var dataURL;
    var $img = $("#preview");

    if (fileObj && fileObj.files && fileObj.files[0]) {
        dataURL = windowURL.createObjectURL(fileObj.files[0]);
        $img.attr('src', dataURL);
    } else {
        dataURL = $file.val();
        var imgObj = document.getElementById("preview");
        // 两个坑:
        // 1、在设置filter属性时，元素必须已经存在在DOM树中，动态创建的Node，也需要在设置属性前加入到DOM中，先设置属性在加入，无效；
        // 2、src属性需要像下面的方式添加，上面的两种方式添加，无效；
        imgObj.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)";
        imgObj.filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = dataURL;
    }
  });

  $(function() {
  $('#doc-vld-msg').validator({
    onValid: function(validity) {
      $(validity.field).closest('.am-form-group').find('.am-alert').hide();
    },

    onInValid: function(validity) {
      var $field = $(validity.field);
      var $group = $field.closest('.am-form-group');
      var $alert = $group.find('.am-alert');
      // 使用自定义的提示信息 或 插件内置的提示信息
      var msg = $field.data('请输入正确的信息 ^_^') || this.getValidationMessage(validity);

      if (!$alert.length) {
        $alert = $('<div class="am-alert am-alert-danger"></div>').hide().
          appendTo($group);
      }

      $alert.html(msg).show();
    }
  });
});
</script>

{% endblock %}