{% extends 'admin/public/base.html' %}

{% block tit %}
<title>商品列表</title>
{% endblock %}

{% block con %}

<div class="admin-biaogelist">
  
    <div class="listbiaoti am-cf">
      <ul class="am-icon-users"> 商品管理</ul>
      
      <dl class="am-icon-home" style="float: right;">当前位置：商品管理 &gt; <a href="#">商品列表</a></dl>
      
      <dl>
        <a href="{% url 'admin_goods_add' %}" class="am-btn am-btn-danger am-round am-btn-xs am-icon-plus"> 手动添加商品</a>
      </dl>
      <!--这里打开的是新页面-->
      
    </div>

    <div class="am-btn-toolbars am-btn-toolbar am-kg am-cf">
      <form action="{% url 'admin_goods_list' %}" method="get">
        <ul style="position: relative; left: 12px">

          <li>
            <div class="am-btn-group am-btn-group-xs">
              <div class="am-selected am-dropdown" id="am-selected-zl004" data-am-dropdown="">
                <select name="gdsort" data-am-selected="{btnWidth: '100', btnSize: 'sm', btnStyle: 'default'}">
                  <option {% if request.GET.gdsort == 'up' %} selected {% endif %} value="up">默认（升序）</option>
                  <!-- <option {% if request.GET.gdsort == 'up' %} selected {% endif %} value="up">升序</option> -->
                  <option {% if request.GET.gdsort == 'down' %} selected {% endif %} value="down">降序</option>
                </select>
              </div>
            </div>
          </li>

          <li style="margin-left: 10px;">
            <div class="am-btn-group am-btn-group-xs">
              <div class="am-selected am-dropdown" id="am-selected-zl004" data-am-dropdown="">
                <select name="gdsort_item" data-am-selected="{btnWidth: '100', btnSize: 'sm', btnStyle: 'default'}">
                  <option {% if request.GET.gdsort_item == 'id' %} selected {% endif %} value="id">默认（按照ID排序）</option>
                  <option {% if request.GET.gdsort_item == 'price' %} selected {% endif %} value="price">价格&nbsp;</option>
                  <option {% if request.GET.gdsort_item == 'storage' %} selected {% endif %} value="storage">库存&nbsp;</option>
                  <option {% if request.GET.gdsort_item == 'clicknum' %} selected {% endif %} value="clicknum">点击数&nbsp;</option>
                  <option {% if request.GET.gdsort_item == 'num' %} selected {% endif %} value="num">购买数&nbsp;</option>
                  <option {% if request.GET.gdsort_item == 'addtime' %} selected {% endif %} value="addtime">添加时间&nbsp;</option>
                </select>
              </div>
            </div>
          </li>

          <li style="margin-left: 10px;">
            <div class="am-btn-group am-btn-group-xs">
              <div class="am-selected am-dropdown" id="am-selected-zl004" data-am-dropdown="">
                <select name="sousel" data-am-selected="{btnWidth: 90, btnSize: 'sm', btnStyle: 'default'}">
                  <option {% if request.GET.sousel == 'all' %} selected {% endif %} value="all">全部分类</option>
                  <option {% if request.GET.sousel == 'title' %} selected {% endif %} value="title">商品名称</option>
                  <option {% if request.GET.sousel == 'typename' %} selected {% endif %} value="typename">商品分类</option>
                </select>
              </div>
            </div>
          </li>
          <li><input value="{{ request.GET.souinp }}" name="souinp" type="text" class="am-form-field am-input-sm am-input-xm" placeholder="关键词搜索"></li>
          <li><button class="am-btn am-radius am-btn-xs am-btn-success" style="margin-top: -1px;">搜索</button></li>

        </ul>
      </form>
    </div>

    <form class="am-form am-g">
          <table width="100%" class="am-table am-table-bordered am-table-radius am-table-striped">
            <thead>
              <tr class="am-success">
                <!-- <th class="table-check"><input type="checkbox"></th> -->

                <th class="table-title">图片</th>
                <th class="table-title">商品名称</th>
                <th class="table-title">商品分类</th>
                <th class="table-title">价格</th>
                <th class="table-title">库存</th>
                <th class="table-title">点击数</th>
                <th class="table-title">购买数</th>
                <th class="table-title">添加时间</th>
                <th class="table-title">状态</th>
                <th class="table-title">操作</th>
              </tr>
            </thead>
            <tbody>
              {% for i in ginfo %}
              <tr style="font-size: 14px;">
                <!-- <td><input type="checkbox"></td> -->
                <td><img height="80px" src="{{ i.picurl }}" alt="^_^"></td>
                <td style=" line-height: 80px;">{{ i.title }}</td>
                <td style=" line-height: 80px;">{{ i.typeid.typename }}</td>
                <td style=" line-height: 80px;">{{ i.price }}</td>
                <td style=" line-height: 80px;">{{ i.storage }}</td>
                <td style=" line-height: 80px;">{{ i.clicknum }}</td>
                <td style=" line-height: 80px;">{{ i.num }}</td>
                <td style=" line-height: 80px;">{{ i.addtime }}</td>
                <td style=" line-height: 80px;">
                  <select sid="{{ i.id }}" name="status" class="mysel" style="display: inline-block; height: 30px; width: 100px; font-size: 12px">
                    <option value="1" {% if i.status == 1 %} selected {% endif %} >新品</option>
                    <option value="2" {% if i.status == 2 %} selected {% endif %} >热销</option>
                    <option value="3" {% if i.status == 3 %} selected {% endif %} >下架</option>
                  </select>
                </td>
                <td style=" line-height: 60px;">
                  <div class="am-btn-toolbar" style="margin-top: 30px">
                    <div class="am-btn-group am-btn-group-xs">
                      <a href="{% url 'admin_goods_edit' i.id %}" class="am-btn am-btn-default am-btn-xs am-text-success am-round"><span class="am-icon-pencil-square-o" title="修改商品"></span> </a>
                      <!-- <button class="am-btn am-btn-default am-btn-xs am-text-secondary am-round" data-am-modal="{target: '#my-popups'}" title="修改订单"><span class="am-icon-pencil-square-o"></span></button> -->
                      <a gid='{{ i.id }}' href="{% url 'admin_goods_del' %}" class="mydel am-btn am-btn-default am-btn-xs am-text-danger am-round" title="删除商品"><span class="am-icon-trash-o"></span></a>
                    </div>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          
          <ul class="am-pagination am-fr">

          {% load pagetag %}

          {% showpage request ginfo.paginator.num_pages %}

          </ul>

          <ul class="am-pagination am-fl">
            ---第{{ p }}页---总共{{ num }}页---
          </ul>
    </form>
 
  <div class="foods">
    <ul>
      版权所有@2018
    </ul>
    <dl>
      <a href="" title="返回头部" class="am-icon-btn am-icon-arrow-up"></a>
    </dl>
  </div>
</div>

<script>
  // 选择ajax
  $('.mysel').change(function(){
    var v = $(this).val()
    var sid = $(this).attr('sid')
    $.get('{% url "admin_goods_state" %}', {v: v, sid: sid})
  });

  // 删除ajax
  $('.mydel').click(function(){
    var $href = $(this).attr('href')
    var gid = $(this).attr('gid')
    var $tr = $(this).parents('tr')
    $.get($href, {gid, gid}, function(data){
      $tr.remove()
    });

    return false
  });
  
</script>

{% endblock %}
