{% extends 'home/person/index.html' %}

{% block title %}
<title>修改密码</title>
{% endblock %}

{% block link %}
<link href="/static/home/AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css">
<link href="/static/home/AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css">

<link href="/static/home/css/personal.css" rel="stylesheet" type="text/css">
<link href="/static/home/css/stepstyle.css" rel="stylesheet" type="text/css">

<script type="text/javascript" src="/static/home/js/jquery-1.7.2.min.js"></script>
<script src="/static/home/AmazeUI-2.4.2/assets/js/amazeui.js"></script>
{% endblock %}

{% block con %}
<div class="main-wrap">

	<div class="am-cf am-padding">
		<div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">修改密码</strong> / <small>Password</small></div>
	</div>
	<hr/>
	<!--进度条-->
	<div class="m-progress">
		<div class="m-progress-list">
			<span class="step-1 step">
                <em class="u-progress-stage-bg"></em>
                <i class="u-stage-icon-inner">1<em class="bg"></em></i>
                <p class="stage-name">重置密码</p>
            </span>
			<span class="step-2 step">
                <em class="u-progress-stage-bg"></em>
                <i class="u-stage-icon-inner">2<em class="bg"></em></i>
                <p class="stage-name">完成</p>
            </span>
			<span class="u-progress-placeholder"></span>
		</div>
		<div class="u-progress-bar total-steps-2">
			<div class="u-progress-bar-inner"></div>
		</div>
	</div>
	<form method="post" class="am-form am-form-horizontal" data-am-validator>
		{% csrf_token %}
		<div class="am-form-group">
			<label for="user-old-password" class="am-form-label">原密码</label>
			<div class="am-form-content">
				<input name="pswd1" type="password" id="user-old-password" placeholder="请输入原登录密码" required />
				<div style="display: inline-block;" id="jkmm"></div>
			</div>
		</div>
		<div class="am-form-group">
			<label for="user-new-password" class="am-form-label">新密码</label>
			<div class="am-form-content">
				<input name="pswd2" type="password" id="user-new-password" placeholder="由数字、字母组合" required />
				<div style="display: inline-block;" id="jkmm2"></div>
			</div>
		</div>
		<div class="am-form-group">
			<label for="user-confirm-password" class="am-form-label">确认密码</label>
			<div class="am-form-content">
				<input data-equal-to="#user-new-password" name="pswd3" type="password" id="user-confirm-password" placeholder="请再次输入上面的密码" required />
			</div>
		</div>
		<div class="info-btn">
			<button class="am-btn am-btn-danger">保存修改</button>
		</div>

	</form>

</div>
<script>
	// 检查原密码输入对不对
	$('#user-old-password').blur(function(){
		var tstext = $(this).val()
		$.get("{% url 'checkpersonpassword' %}", {tstext: tstext}, function(data){
			if(data['code'] == '0'){
				$('#jkmm').text('请输入正确的原密码！')
			}else{
				$('#jkmm').text(' ')
			}
		}, 'json')
	})

	// 检查新密码跟原密码是否一样
	$('#user-new-password').blur(function(){
		var tstext = $(this).val()
		$.get("{% url 'checkpersonpassword' %}", {tstext: tstext}, function(data){
			if(data['code'] == '1'){
				$('#jkmm2').text('新密码和旧密码相同，请重新设置！')
			}else{
				$('#jkmm2').text(' ')
			}
		}, 'json')
	})
</script>
{% endblock %}
